.advantages{
  padding-top: 336px;
  padding-bottom: 209px;
  background-image: url('./../images/advantages.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__title{
    margin-bottom: 90px;
  }

  &-inner{
    display: grid;
    grid-template-columns: 50% 2fr;
    grid-row-gap: 62px;
  }

  &__box{
    padding-left: 70px;
    display: block;
    position: relative;

    &::before{
      content: '';
      width: 50px;
      height: 50px;
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
    }

    &:nth-child(1) {

      &::before{
        background-image: url(./../images/adv-icon-1.png);
      }
      
    }

    &:nth-child(2) {
       
      &::before{
        background-image: url(./../images/adv-icon-2.png);
      }
    }

    &:nth-child(3) {
      
      &::before{
        background-image: url(./../images/adv-icon-3.png);
      }
    }

    &:nth-child(4) {

      &::before{
        background-image: url(./../images/adv-icon-4.png);
      }
    }
  }

  &__text{
    width: 430px;
  }
}