.advantages{
  padding-top: 336px;
  padding-bottom: 209px;
  background-image: url('./../images/advantages.png');
  background-repeat: no-repeat;
  background-size: cover;

  @media(max-width: 900px) {
    padding-bottom: 90px;
  }

  @media(max-width: 1200px) {
    background-position: center;
  }

  &__title{
    margin-bottom: 90px;

    @media(max-width: 1253px) {
      text-align: center;
    }

    @media(max-width: 900px) {
      margin-bottom: 60px;
    }
  }

  &-inner{
    display: grid;
    grid-template-columns: 50% 2fr;
    grid-row-gap: 62px;

    @media(max-width: 1052px) {
      grid-template-columns: 60%;
      justify-content: center;
    }

    @media(max-width: 575px) {
      grid-template-columns: 80%;
    }

    @media(max-width: 478px) {
      grid-template-columns: 100%;
    }
  }

  &__box{
    padding-left: 70px;
    display: block;
    position: relative;

    &::before{
      content: '';
      width: 50px;
      height: 50px;
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
    }

    &:nth-child(1) {

      &::before{
        background-image: url('./../images/adv-icon-1.png');
      }
      
    }

    &:nth-child(2) {
       
      &::before{
        background-image: url('./../images/adv-icon-2.png');
      }
    }

    &:nth-child(3) {
      
      &::before{
        background-image: url('./../images/adv-icon-3.png');
      }
    }

    &:nth-child(4) {

      &::before{
        background-image: url('./../images/adv-icon-4.png');
      }
    }
  }

  &__text{
    width: 430px;

    @media(max-width: 1052px) {
      width: 100%;
    }
  }
}