*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat';
  font-style: normal;
}

li{
  list-style: none;
}

.container{
  width: 1214px;
  margin: 0 auto;

  @media(max-width: 1253px) {
    width: auto;
    padding: 0 30px;
  }
}

.title{
  font-weight: 400;
  font-size: 74px;
  line-height: 90px;
  text-transform: uppercase;
  color: #212733;

  @media(max-width: 900px) {
    font-size: 60px;
  }

  @media(max-width: 683px) {
    font-size: 48px;
  }
}

.title-2{
  font-size: 48px;
  font-weight: 500;

  @media(max-width: 900px) {
    font-size: 40px;
  }
}

.title-3{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.btn{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  width: 280px;
  padding: 14px 30px;
  display: inline-block;
  border: 1px solid #000;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover{
    background-image: url('./../images/feedback-card-bg.png');
    color: #fff;
    border: none;
  }

  &:hover svg > g > path{
    fill: #fff;
  }
}