.desktop{
  height: 948px;
  background-image: url('./../images/bg-desktop.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 26px;
  position: relative;

  &-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
  }
  
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }

  &__title{
    margin-bottom: 10px;

    @media(max-width: 683px) {
      margin-bottom: 0;
    }
  }

  &__subtitle{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin-bottom: 45px;
  }
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  cursor: pointer;
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
  

  &:hover{
    #menu__span-2, #menu__span-3{
      width: 100%;
    }
  }
  
  & > span{
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 3px;
    transition: all .3s;

    &-2{
      width: 75%;
    } 

    &-3{
      width: 50%;
    }
  }
}

#menu__span-2{
  width: 75%;
}

#menu__span-3{
  width: 50%;
}